{% extends 'base.html' %}



{% block title %}
Log In!
{% endblock %}



{% block style %}
<link href="{{ url_for('static', filename='css/login.css') }}" type="text/css" rel="stylesheet"></link>
{% endblock %}



{% block body %}
<form id="login-block" method="POST" action="">
	<legend>Log In!</legend>
	{{ form.hidden_tag() }}
	<p>E-mail</p>
	{{ form.email() }}
	<p>Password</p>
	{{ form.password() }}
	{{ form.button() }}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<strong>{{ message }}</strong>
			{% endfor %}
		{% endif %}
	{% endwith %}
</form>
{% endblock %}